requests
beautifulsoup4
PyMuPDF
sentence-transformers
faiss-cpu
tqdm
langchain
langchain_community
chromadb
Python-dotenv
streamlit
spacy
nltk
matplotlib
wordcloud
keybert
transformers
pycountry
